@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

html, body, #root {
    height: 100%
}

.home-panel {
    overflow: hidden;
    padding: 15px;
    text-align: center;
    color: black;
    background-color: white;
}

.home-panel-icon {
    color: rebeccapurple;
}

.home-panels-buttons .btn {
    width: 100%;
    color: black !important;
    background: transparent !important;
}

.home-panels-buttons .btn:hover:not(.active) {
    color: rebeccapurple !important;
    background-color: rgb(190, 190, 190) !important;
}

.home-panels-buttons .btn.active {
    color: rebeccapurple !important;
    background-color: white !important;
}

.home-panels-buttons {
    background-color: rgb(230, 230, 230);
}

.home-panels-content {
    background-image: linear-gradient(90deg, rebeccapurple, mediumpurple);
}

.home-panel-container {
    display: none;
}

.home-panel-container.active {
    display: block;
}

body {
    font-family: Poppins, sans-serif !important;
}

.form-control.custom {
    height: 2.5em !important;
    border: black 2px solid !important;
    border-radius: 0 !important;
}

.form-control.custom:focus {
    border-color: rebeccapurple !important;
    box-shadow: none !important;
}

.input-group-append.custom {
    margin-left: -2px !important;
}

.btn {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.btn-secondary {
    background-color: black !important;;
}

.btn-secondary:hover {
    background-color: rgb(60, 60, 60) !important;
}

.btn-secondary:active {
    background-color: rgb(75, 75, 75) !important;
}

.location-suggestions li {
    height: 2.5em !important;
    padding: 0.375em 0.75em !important;
    margin-bottom: -2px !important;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    border-radius: 0 !important;
    border: 2px dimgrey solid !important;
    box-shadow: none !important;
    outline: none !important;
}

.location-suggestions li:hover, .location-suggestions li:active {
    background: lightgrey;
}

.location-suggestions li:active {
    background: grey;
}

.map-container {
    height: calc(20em - 8px);
    padding: 2.5em;
    background: white url('map_background.PNG') center;
    background-size: cover;
}

.calendar-cell {
    width: calc(100% / 7);
    margin-top: 1px;
    overflow: hidden;
}

.calendar-cell + .calendar-cell {
    margin-left: 4px;
}

.calendar-cell:hover {
    background-color: rgb(232, 214, 255);
}

.calendar-list-day {
    border-top: 2px solid lightgrey;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-left: 30px;
}

::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, .75);
}

.event-sidebar-activity {
    border-top: 2px solid grey;
}

.event-sidebar button {
    width: 100% !important;
}

.navigation-menu-container {
    width: 4em;
    overflow: hidden;
    background-color: rgb(15, 16, 16);
    flex: 0 0 auto;
}

.profile-icon-container {
    padding: 0.5em;
    height: 4em;
    width: 4em;
}

.profile-icon {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile-icon:hover {
    box-shadow: 0 0 0 2px white;
}

.profile-icon img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.app-icon-container {
    height: 4em;
    width: 4em;
    background-color: rgb(35, 36, 36);
}

.app-icon {
    width: 2.5em;
    height: 2.5em;
    overflow: hidden;
}

.app-icon svg {
    width: 100%;
    height: 100%;
}

.app-icon svg g{
    fill: white;
}

.app-icon-container:hover .app-icon svg g{
    fill: rebeccapurple;
}

.calendar-view-header {
    height: 4em;
    background-color: rgb(35, 36, 36);
    flex: 0 0 auto;
}

.navigation-menu-container ul {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    list-style-type: none;
}

.navigation-menu-container li{
    height: 4em;
}

.navigation-menu-container a, .app-icon-container a, .menu-container a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu-container li:hover {
    background-color: rgb(25, 26, 26);
}

.navigation-menu-item-alert {
    border-radius: 50%;
    border: 2px solid black;
    width: 1.75em;
    height: 1.75em;
    position: absolute;
    right: -0.25em;
    top: -0.25em;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: white;
    background: darkred;
}

.menu-container {
    display: flex;
    height: 4em;
    flex: 0 0 auto;
    flex-wrap: nowrap;
}

.menu-container ul {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    list-style-type: none;
    white-space: nowrap;
}

.menu-container li {
    display: inline-block;
    height: 100%;
}

.menu-container li a.active {
    background-color: red;
}

.profile-content-container {
    display: flex;
    flex-direction: column;
}

.profile-content-wrapper {
    flex-basis: 100%;
    overflow: auto;
}

.login.menu-container li{
    float: right;
}